@import "tailwindcss";

@theme {
  --hue: 160;

  --color-primary-400: oklch(85% .3 var(--hue));
  --color-primary-500: oklch(80% .35 var(--hue));
  --color-primary-600: oklch(75% .4 var(--hue));

  --color-semantic-ok-400: oklch(85% .4 140);
  --color-semantic-ok-500: oklch(80% .4 140);
  --color-semantic-ok-600: oklch(70% .4 140);

  --color-semantic-alert-400: oklch(85% .4 100);
  --color-semantic-alert-500: oklch(80% .4 100);
  --color-semantic-alert-600: oklch(70% .4 100);

  --color-semantic-error-400: oklch(85% .4 35);
  --color-semantic-error-500: oklch(80% .4 35);
  --color-semantic-error-600: oklch(70% .4 35);

  --color-dark-400: oklch(25% .02 var(--hue));
  --color-dark-500: oklch(18% .015 var(--hue));
  --color-dark-600: oklch(15% .01 var(--hue));
  --color-dark-900: oklch(10% .005 var(--hue));

  --color-light-400: oklch(96% .025 var(--hue));
  --color-light-500: oklch(92% .02 var(--hue));
  --color-light-600: oklch(86% .015 var(--hue));
  --color-light-900: oklch(82% .01 var(--hue));
}

:root {
  --color-light-400: oklch(96%, 0.025, 160);
  --color-light-500: oklch(92%, 0.02, 160);
  --color-light-600: oklch(86%, 0.015, 160);
  --color-light-900: oklch(82%, 0.01, 160);

  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  min-height: 100dvh;
  max-height: 100dvh;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  &>*:not(#menu) {
    margin-block: 0.5rem;
    background-color: #1f2028;
    border-radius: 1rem;
  }
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

input {
  padding-inline: 0.75rem;
}

input:focus {
  outline: none;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

button {
  transition: all 250ms;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.search {
  display: flex;
  padding: 0.1rem;
  border-radius: 100vw;
  box-sizing: content-box;

  &>button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
  }

  &:has(input:focus) {
    outline: 1px solid white;
  }
}

dialog {
  margin: auto;
  padding: 1.25rem;
  border-radius: 0.5rem;
}