.message-menu-arrow {
  anchor-name: --message-menu-arrow;
}

.message-menu {
  position-try-fallbacks: --popover;
  position-anchor: --message-menu-arrow;
  position: absolute;
  position-area: bottom span-left;
}

.message-menu:popover-open {}

@position-try --popover {
  position-area: left span-top;
}