.message-info {
  anchor-scope: --message-menu-arrow;
}

.message-menu-arrow {
  anchor-name: --message-menu-arrow;
}

svg.arrow-icon {
  color: currentColor;
  transition: all 200ms;

  &.open {
    transform: rotate(90deg);
  }
}

.message-menu {
  position: absolute;
  position-try-fallbacks: --popover;
  position-anchor: --message-menu-arrow;
  position-area: bottom span-left;
}

.message-menu:popover-open {}

@position-try --popover {
  position-area: left span-top;
}