.chat-item {
  anchor-scope: --chat-menu-arrow;
}

.chat-menu-arrow {
  border-radius: 100vw;
  anchor-name: --chat-menu-arrow;
}

svg.arrow-icon {
  color: currentColor;
  transition: all 200ms;

  &.open {
    transform: rotate(90deg);
  }
}

.chat-menu {
  position: absolute;
  position-try-fallbacks: --popover;
  position-anchor: --chat-menu-arrow;
  position-area: bottom span-right;
}

.chat-menu:popover-open {}

@position-try --popover {
  position-area: right span-top;
}